.header {
  width: 100%;
  height: 50px;
  padding: 15px;
  font-size: 36px;
  position: fixed;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  background-color: var(--background-color);
}

.title {
  text-decoration: none;
}

.menus {
  display: flex;  
}

.menus a {
  text-decoration: none;
  color: var(--font-color);
  font-size: small;
  margin: 0 10px;
}
.menus a:hover {
  color: var(--hover-color);
}

@media (max-width: 450px) {
  .menus { 
    display: none;
  }
}