.projects {
  margin-top: 10rem;  
  padding: 1.5rem;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-flow: wrap-reverse;
}

@media (min-width: 360px) {
  .projects {
    flex-flow: wrap;
  }
}
