.projects {
  margin-top: 10rem;  
  padding: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

@media (max-width: 450px) {
  .projects {
    flex-direction: column;
    align-content: center;
  }
}
