.post {
  margin-top: 1.5rem;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 3rem;
}

.title {
  text-transform: uppercase;
  font-size: 36pt;
  margin: 1.5rem 0;
}

.date {
  text-align: right;
  font-size: 14pt;
  margin-bottom: 1.5rem;
}

.goBack {
  margin: 3rem 0;
  text-align: left;    
}

@media(max-width: 450px) {
    .post {
        width: 100%;
    }

    .content {
        font-size: 18px;
    }
}